div {
    display: block;
}

form {
    
    background-color: lightgrey;
    font-size: 1em;
    padding: 0.5em;
    font-family: sans-serif;
}

#searchForm input {
    display: inline-block;
    width: 35%;
    height: 5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 0;
    font-size: 18px;
    padding: 5px;
    margin: 7px 10px;
    
}

 button {
   border-radius: 5px;
}

#currentDetailsWrapper {
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    background-color: rgba(238,238,238,.35);
 
    overflow: hidden;
}

#currentDetails {
    display: inline-flex;
    position: relative;
    text-align: center;
    left: -10px;
    white-space: nowrap;
    font-size: 14px;
    margin: 0 auto;
    max-width: 750px;
}
